.nav-link{
	margin-right: 30px;
}

/* #map{
    width:400px;
    height:300px;
    border: solid 1px;
    margin: 10px auto;
}

.default{
    background: transparent;
    color: white;
}

.default:hover{
    background: lightgrey;
}

#contact-us-form{
    width:600px;
    height:300px;
    margin: 10px auto;
} */
